<nav>
    <ul class="flex flex-row items-center text-center justify-between w-full px-[120px] py-[10px]">
        <li>
            <a class="font-semibold text-[14px]" href="">Honey Bun <span class="text-[#FCC862]">Shop</span></a>
        </li>
        <!-- Links -->
        <div class="flex flex-row gap-4 font-light">
            <li><a href="">Tienda</a></li>
            <li><a href="">Categorias</a></li>
            <li><a href="">Ofertas</a></li>
        </div>
        <!-- Search -->
        <div>
            <form method="GET" action="" class="relative w-[500px]">
                <input type="search" placeholder="Buscar"
                    class="w-full py-[10px] pr-10 pl-[10px] text-[#424242] rounded-[14px] border border-solid border-[var(--light-accent-color)]" />
                <button type="submit" class="absolute top-1/2 right-3 -translate-y-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="none" stroke="#424242" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2.5"
                            d="m21 21l-4.343-4.343m0 0A8 8 0 1 0 5.343 5.343a8 8 0 0 0 11.314 11.314" />
                    </svg>
                </button>
            </form>
        </div>
        <!-- Profiles -->
        <div class="flex flex-row items-center">
            <li>
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                        <path fill="#424242"
                            d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921M17.307 15h-6.64l-2.5-6h11.39z" />
                        <circle cx="10.5" cy="19.5" r="1.5" fill="#424242" />
                        <circle cx="17.5" cy="19.5" r="1.5" fill="#424242" />
                    </svg></a>
            </li>
            <li class="w-10 h-10 rounded-full overflow-hidden border border-[#ccc]">
                <a href=""><img class="w-full h-full object-cover" src="" alt="Perfil" /></a>
            </li>
        </div>
    </ul>
</nav>