{% load static %}
{% load django_browser_reload %}
{% load component_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Honey Bun{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css'  %}">
    <!-- Onest Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        {% component "navbar" %}{% endcomponent  %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        {% component "footer" %}{% endcomponent  %}
    </footer>
    {% block extra_js %}{% endblock %}
    {% django_browser_reload_script %}
</body>
</html>