{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Honey Bun{% endblock %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>
    {% block extra_js %}{% endblock %}
    {% django_browser_reload_script %}
</body>
</html>