<section class="pt-[88px] text-center flex flex-col items-center justify-center content-center">
    <div class="flex flex-row gap-[44px] justify-center items-center pb-8">
        <!-- {% for product in model_data %} -->
        <article class="container_card_medium bg-white shadow-black/35 shadow-lg">
            <img src="" alt="" />
            <div class="py-8">
                <h2 class="font-semibold text-[22px] leading-[28px]">
                </h2>
                <h2 class="font-semibold text-[22px] leading-[28px]">
                    $
                </h2>
                <div class="py-7 flex flex-row justify-center content-center">
                </div>
            </div>
        </article>
        <!-- {% endfor %} -->
    </div>
</section>