{% load component_tags %}
<div class="flex flex-row justify-start gap-2 items-center pt-[88px]">
    <section class="max-w-[691px] text-center w-full">
        <div class="container">
            <div class="line"></div>
            <h3 class="text">Ofertas Especiales</h3>
            <div class="line"></div>
        </div>
        <div class="grid grid-cols-2 gap-[5px]">
            {% for product in model_data %}
            {% if product.on_offer %}
            <article class="rounded-[14px] bg-white shadow-black/35 shadow-lg w-[325px] overflow-visible">
                <img class="w-full h-[215px] rounded-t-[14px] object-fill bg-gray-100" src="{{ product.image_url }}"
                    alt="{{ product.alt|default:product.name }}" />
                <div class="my-[5px] px-3 pb-4">
                    <h2 class="font-semibold text-[22px] leading-[28px] truncate" title="{{ product.name }}">
                        {{ product.name }}
                    </h2>
                    <div class="flex flex-row gap-2 text-center items-center justify-center content-center">
                        <h2 class="font-normal text-[22px] leading-[28px] line-through text-red-700">
                            ${{ product.price }}
                        </h2>
                        <h2 class="font-semibold text-[22px] leading-[28px]">${{ product.discounted_price|floatformat:2 }}</h2>
                    </div>
                    <h2 class="font-normal text-[22px] leading-[28px]">-{{ product.offer }}%</h2>
                    <div class="py-4 flex justify-center items-center">
                        {% component 'see_product' %}{% endcomponent %}
                    </div>
                </div>
            </article>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    <div>
        <a class="p-[14px] bg-[var(--light-accent-color)] rounded-[14px] border-[1px] border-solid border-black font-[500] my-[5px]"
            href="{% url 'special_offers' %}">Ver mas!</a>
    </div>
</div>
<style>
    .container {
        display: grid;
        grid-template-columns: auto max-content auto;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
    }

    .line {
        height: 6px;
        background-color: #FCC862;
    }

    .line:first-child {
        width: 50px;
    }

    .line:last-child {
        width: 50px;
    }

    .text {
        white-space: nowrap;
        padding: 0 0px;
    }
</style>