{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% load component_tags %}

<section class="flex">
  <div class="max-w-[780px] relative">

    {% if  user.is_authenticated %}
    <h1 class="font-display-large z-10">
      ¡Bienvenido {{ user }} a Honey Bun
      <span class="text-[#FCC862]">Shop</span>!
    </h1>
    {% else %}
    <h1 class="font-display-large z-10">
      ¡Bienvenido a<br>Honey Bun 
      <span class="text-[#FCC862]">Shop</span>!
    </h1>
    {% endif %}

    <p class="text-[20px] text-[#424242] pt-[20px]">
      ¡Prepárate para sumergirte en un mundo de dulces descuentos y un servicio
      excelente y disciplinado como nuestras queridas abejas!
    </p>
  </div>
  <div class="HoneyBee">
    <img src="{% static 'images/HoneyBeeComponent.png'  %}" alt="Main Honey Bee">
  </div>
</section>

<section>
  {% component 'small_card' model_instance=model_instance %}{% endcomponent %}
  {% component 'recommendation_card' model_instance=model_instance %}{% endcomponent %}
</section>

<section class="text-center max-w-full pt-20">
  {% component 'title' %}
  {% fill 'title' %}Ofertas de Temporada{% endfill %}
  {% endcomponent %}
  <div class="flex flex-row">
    <div class="Bee-spring relative right-[180px]">
      <img width="980" height="800" src="{% static 'images/Spring.png' %}" alt="">
    </div>
    <div class="flex flex-col justify-center items-center content-center gap-4">
      <div>
        {% for product in single_product %}
        <article class="w-[325px] h-[380px] rounded-[14px] bg-white shadow-black/35 shadow-lg flex flex-col">
          <img class="object-fill bg-gray-100 rounded-t-[14px] w-full h-[213px]" src="{{ product.image_url }}"
            alt="{{ product.alt }}" />
          <div class="flex-1 flex flex-col justify-between px-3 py-2">
            <div>
              <h2 class="font-semibold text-[22px] leading-[28px] truncate" title="{{ product.name }}">
                {{ product.name }}
              </h2>
              <h2 class="font-semibold text-[22px] leading-[28px]">
                ${{ product.price }}
              </h2>
            </div>
            <div class="py-2 flex flex-row justify-center content-center">
              {% component 'add_to_cart' %}{% endcomponent %}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
      <div class="flex flex-row justify-center items-center content-center gap-5">
        {% for product in products %}
        <article class="w-[325px] h-[380px] rounded-[14px] bg-white shadow-black/35 shadow-lg flex flex-col">
          <img class="object-fill bg-gray-100 rounded-t-[14px] w-full h-[213px]" src="{{ product.image_url }}"
            alt="{{ product.alt }}" />
          <div class="flex-1 flex flex-col justify-between px-3 py-2">
            <div>
              <h2 class="font-semibold text-[22px] leading-[28px] truncate" title="{{ product.name }}">
                {{ product.name }}
              </h2>
              <h2 class="font-semibold text-[22px] leading-[28px]">
                ${{ product.price }}
              </h2>
            </div>
            <div class="py-2 flex flex-row justify-center content-center">
              {% component 'add_to_cart' %}{% endcomponent %}
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>
  <p class="font-body-large pt-14 max-w-[700px] text-center m-auto">Lorem ipsum dolor sit amet consectetur, adipisicing
    elit. Corrupti, praesentium quo. Debitis eius quibusdam itaque unde beatae corporis cupiditate delectus reiciendis
    aperiam, voluptates minus voluptatibus obcaecati dolor velit quae commodi.</p>
</section>

{% component 'medium_card' model_instance=model_instance %}{% endcomponent %}

<section class="text-center max-w-[980px] w-full m-auto">
  {% component 'title' %}
  {% fill 'title' %}Sobre Nosotros{% endfill %}
  {% endcomponent %}

  <article class="text-left bg-white px-[40px] py-[20px] rounded-[14px] shadow-black/35 shadow-lg ">
    <div class="container_recomendation text-start">
      <div class="line"></div>
      <h2 class="text">Mision</h2>
      <div class="line"></div>
    </div>
    <p>En Honey Bun Shop, nuestra misión es ofrecer a nuestros clientes una experiencia de compra única, donde los
      descuentos irresistibles se combinan con productos de calidad y un servicio al cliente excepcional. Nos esforzamos
      por ser el destino preferido de aquellos que buscan satisfacer sus necesidades con productos deliciosos y
      asequibles, respaldados por un equipo comprometido con la excelencia y la satisfacción del cliente.</p>
    <br>
    <div class="container_recomendation text-start">
      <div class="line"></div>
      <h2 class="text">Vision</h2>
      <div class="line"></div>
    </div>
    <p>Nuestra visión en Honey Bun Shop es ser reconocidos como líderes en la industria del comercio electrónico,
      ofreciendo una amplia selección de productos de calidad a precios competitivos. Aspiramos a ser la primera opción
      para los amantes de los descuentos que buscan una experiencia de compra sin igual, donde la satisfacción del
      cliente y la dedicación al servicio sean los pilares fundamentales de nuestro éxito continuo. Con un enfoque en la
      innovación y la mejora constante, nos esforzamos por ser un referente en nuestro sector, manteniendo siempre la
      dulzura de nuestros productos y la disciplina de nuestro servicio al cliente.</p>
    <br>
    <div class="container_recomendation text-start">
      <div class="line"></div>
      <h2 class="text">Acerca de Nosotros</h2>
      <div class="line"></div>
    </div>
    <p>En Honey Bun Shop, nuestra pasión por los descuentos y nuestro compromiso con la excelencia se fusionan para
      brindarte una experiencia de compra inigualable. Fundada con la visión de ofrecer una amplia gama de productos de
      calidad a precios irresistibles, nos esforzamos por ser tu destino número uno para encontrar las mejores ofertas.
      Nuestro equipo está compuesto por apasionados amantes del servicio al cliente que trabajan arduamente, inspirados
      por la disciplina y la dedicación de las abejas en su colmena. Nos enorgullece mantener altos estándares de
      calidad en cada producto que ofrecemos y garantizar una atención al cliente excepcional en todo momento. En Honey
      Bun Shop, nos comprometemos a endulzar tu día con cada compra, asegurándonos de que cada experiencia sea tan
      satisfactoria como nuestros productos. </p>
  </article>
</section>

<section class="max-w-[825px] m-auto pt-[80px] text-center ">
  <div>
    {% component 'title' %}
    {% fill 'title' %}Conoce Nuestro Equipo{% endfill %}
    {% endcomponent %}

    <article>
      <div class="bg-white rounded-2xl flex flex-row gap-10 shadow-black/35 shadow-lg ">
        <div>
          <img width="400" height="580" class="rounded-2xl" src="{% static 'images/AlvaroAvila.jpg' %}" alt="">
        </div>
        <div class="text-start flex flex-col content-center items-start justify-center">
          <h2 class="font-semibold text-[32px] text-[#FCC862] leading-[40px]">Diseñador Web</h2>
          <h2 class="font-bold text-[57px] leading-[64px]">Alvaro Avila</h2>
          <p class="text-[16px] leading-[24px]">Desarrollador Full-stack</p>
          <p class="text-[16px] leading-[24px]">Diseñador UI/UX</p>
          <div class="flex flex-row gap-5 items-start py-5">
            {% component "linkedin_icon" %}{% endcomponent %}
            {% component "github_icon" %}{% endcomponent %}
            {% component "email_icon" %}{% endcomponent %}
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

{% endblock content %}